.container {
  width: 22.5rem;
}

.container_img {
  width: 22.5rem;
  height: 25rem;
  display: flex;
  padding: 1.7rem 0 1.7rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container_imgs {
  width: 80%; /* Ограничиваем ширину для центрирования */
  display: flex;
  align-items: center;
  padding: 2px; /* Внутренний отступ */
  border-radius: 4px;
}

.container_imgs img {
  width: 1.13rem;
  height: 1.25rem;
  flex-shrink: 0; /* Значок акции не сжимается */
}

.container_imgs .message {
  flex: 1; /* Текст занимает всё доступное пространство */
  margin: 0 8px; /* Отступ 2px между значком акции и сердечком */
  font-size: 0.7rem;
  opacity: 0; /* Скрыт по умолчанию */
  transition: opacity 0.3s ease; /* Плавный переход */
  text-align: center;
  background-color: rgb(205, 212, 212);
  border-radius: 5px;
}

.container_imgs .message.visible {
  opacity: 1; /* Показываем текст */
}

.image {
  width: auto;
  height: 25rem;
}

.icon {
  width: 1.13rem;
  height: 1.25rem;
  flex-shrink: 0; /* Сердечко не сжимается */
  transition: all 0.3s ease;
}

.icon path {
  stroke: #292D32; /* Цвет обводки по умолчанию */
  fill: none; /* Без заливки по умолчанию */
  transition: all 0.3s ease;
}

.icon:hover path {
  stroke: red;
}

.icon.clicked path {
  fill: red;
  stroke: red;
}

.container_text {
  margin-top: 0.5rem;
}

.name {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.price {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.price span {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 1020px) {
  .container {
    width: 11.3rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .price {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 150px;
    height: 250px;
  }

  .image {
    height: 110px;
  }

  .name {
    font-size: 1rem;
  }

  .price {
    font-size: 0.8rem;
  }
}