.container {
  width: clamp(12rem, 21rem, 25vw);
}

.container_img {
  width: clamp(12rem, 20rem, 25vw);
  height: clamp(19rem, 23rem, 25vh);
  display: flex;
  padding: clamp(0.5rem, 1.7rem, 2vw) 0;
  flex-direction: column;
  align-items: center;
  gap: clamp(5px, 10px, 1vw);
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.container_imgs {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1px, 2px, 0.3vw);
  border-radius: 4px;
}

.container_imgs img {
  width: clamp(0.8rem, 1.13rem, 1.5vw);
  height: clamp(0.9rem, 1.25rem, 1.5vw);
  flex-shrink: 0;
}

.container_imgs .message {
  flex: 1;
  margin: 0 clamp(4px, 8px, 1vw);
  font-size: clamp(0.6rem, 0.7rem, 1vw);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  background-color: rgb(205, 212, 212);
  border-radius: 5px;
}

.container_imgs .message.visible {
  opacity: 1;
}

.image {
  width: 100%;
  height: clamp(17rem, 21rem, 22vh);
  object-fit: contain;
}

.icon {
  width: clamp(0.8rem, 1.13rem, 1.5vw);
  height: clamp(0.9rem, 1.25rem, 1.5vw);
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icon path {
  stroke: #292D32;
  fill: none;
  transition: all 0.3s ease;
}

.icon:hover path {
  stroke: red;
}

.icon.clicked path {
  fill: red;
  stroke: red;
}

.container_text {
  margin-top: clamp(0.25rem, 0.5rem, 1vw);
}

.name {
  font-size: clamp(0.7rem, 0.9rem, 1.2vw);
  font-weight: 400;
  margin: 0;
}

.price {
  margin-top: clamp(0.25rem, 0.5rem, 1vw);
  font-size: clamp(0.8rem, 1.5rem, 2vw);
  margin-bottom: clamp(0.5rem, 1.375rem, 2vw);
  display: flex;
  justify-content: flex-start;
  gap: 4.375rem;
}

.price span {
  margin-top: clamp(0.25rem, 0.5rem, 1vw);
  font-size: clamp(1.4rem, 1rem, 1.5vw);
  font-weight: 500;
}

.basePrice {
  font-size: clamp(0.7rem, 1rem, 1.5vw);
  font-weight: 300;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
  font-size: clamp(0.6rem, 0.9rem, 1.2vw);
}

.newPrice {
  color: red;
}

@media (max-width: 768px) {
  .container {
    width: clamp(10rem, 11.3rem, 20vw);
  }

  .container_img {
    height: clamp(12rem, 10.5rem, 20vh);
  }

  .image {
    height: clamp(10rem, 10.5rem, 18vh);
  }
}

@media (max-width: 480px) {
  .container {
    width: clamp(8rem, 150px, 18vw);
  }

  .container_img {
    height: clamp(10rem, 250px, 25vh);
  }

  .image {
    height: clamp(8rem, 110px, 15vh);
  }
}
