.breadcrumbs {
    color: #000;
    width: 93%;
    margin-left: 6.1rem;
    padding-top: 0.88rem;
    padding-bottom: 0.7rem;
    margin-bottom: 6.3rem;
    font-size: 23px;
    margin-top: 10px;
    word-spacing: 4px;
    border-bottom: 1px solid #797F83;
    
}

.breadcrumb_item {
    display: inline;
}

.breadcrumb_link {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.breadcrumb_text {
    color: #000;
    font-weight: 700;
}

.breadcrumb_separator {
    color: #666;
    font-weight: 400;
}