.container{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 46.1875rem;
    display: flex;
}

.container_menu{
    padding-top: 1.5625rem;
    background-color: #EBEBEB;
    height: 96%;
    width: 18.75rem;
    border-radius: 20px 0 0 20px;
}
.container_menu h4{
    color: #2B3338;
    font-size: 16px;
    font-weight: 400; 
    text-transform: uppercase; 
}

.menu_item{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 10px 20px;
    cursor: pointer;
    color: #2B3338;
}
.selected .selected_text{
   color: #385B9D;
}

.container_info {
   
    padding: 20px;
    display: flex;
    gap: 1.25rem;
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }
  .container_info_text{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-transform: uppercase;
  }
  .lists_container {
    display: flex;
    gap: 6.25rem;
    
  }
  
  .list_section h5 {
    font-size: 14px;
    color: #2b3338;
    margin-bottom: 10px;
  }
  
  .list_section ul {
    list-style: none;
    padding: 0;
  }
  
  .list_section ul li {
    margin-bottom: 10px;
  }
  
  .list_section ul li a {
    font-size: 1rem;
   
  }
  a{
    color: #5F6E58;
    text-decoration: none;

  }
  .promotions h5 {
    font-size: 14px;
    color: #B61616;
    margin-bottom: 10px;
  }
  
  .promotions ul {
    list-style: none;
    padding: 0;
  }
  
  .promotions ul li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #2b3338;
  }
  
  .promotions ul li span {
    color: #FF7700;
    font-weight: bold;
  }
  
  .images {
    display: grid;
    gap: 10px;
  }
  
  .images img {
    width: 14.9375rem;
    height: 20.5625rem;
    object-fit: cover;
    border-radius: 15px;
  }