
.container {
    width: 100%;
    height: 100%;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border-radius: 0; 
  }
  
  @media (max-width: 1020px) {
    .container img {
      max-width: 90%;
      max-height: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .container img {
      max-width: 80%;
      max-height: 80%;
    }
  }