.offers_container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
  
.offers_content {
  display: flex;
  max-width: 100vw;
  margin: 0 auto;
}
  
.text_section {
  flex: 1;
  padding: 5vw 3vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3vw;
  border-radius: 20px 0px 0px 20px;
}
  
.text_section h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 3.2;
}
  
.text_section p {
  font-size: clamp(1.3rem, 1.5vw, 1rem);
  font-weight: 400;
  margin-bottom: 1.8rem;
}
  
.image_section {
  flex: 1;
  width: 100%;
}
  
.image_section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
  
@media (max-width: 1020px) {
  .offers_content {
    flex-direction: column;
    border-radius: 20px;

  }
  
  .text_section {
    padding: 3vw 2vw;
    padding-top: 2vw;
  }
  
  .text_section h1 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }
  
  .text_section p {
    font-size: clamp(0.7rem, 1.2vw, 0.9rem);
  }
  
  .image_section {
    max-width: 100%;
  }
  
  .image_section img {
    width: 100%;
    height: auto;
  }
}
  
@media (max-width: 480px) {
  .text_section h1 {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
  }
  
  .text_section p {
    font-size: clamp(0.6rem, 1vw, 0.8rem);
  }
}