.scrollSection {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .header {
    margin-bottom: 1rem;
  }
  
  .h3 {
    font-size: clamp(1.25rem, 1.5rem, 2vw);
    font-weight: bold;
    margin-left: clamp(1rem, 3.125rem, 4vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  .navigationArrows {
    display: flex;
    gap: clamp(0.2rem, 0.3125rem, 0.5vw);
  }
  
  .navArrow {
    background: none;
    border: none;
    color: #000;
    font-size: clamp(0.6rem, 0.8rem, 1vw);
    cursor: pointer;
    padding: clamp(0.1rem, 0.125rem, 0.3vw) clamp(0.2rem, 0.375rem, 0.5vw);
    border-radius: clamp(0.1rem, 0.1875rem, 0.3vw);
    transition: background-color 0.3s;
  }
  
  .navArrow:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navArrow:disabled {
    cursor: not-allowed;
    color: #ccc;
  }
  .productsScroll {
    scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  scrollbar-width: none; 

  }
  
  .productsScroll::-webkit-scrollbar {
    display: none; 
  }
  
  
  .productsScroll > div {
    flex: 0 0 clamp(12rem, 22.5rem, 25vw);
    aspect-ratio: 4 / 5;
    min-width: 0;
  }