.custom_button {
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  min-width: 100px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
}

.button_black {
  background-color: #000;
  color: #fff;
}

.button_black:hover {
  background-color: #fff;
  color: #000;
}

.button_white {
  background-color: #fff;
  color: #000;
}

.button_white:hover {
  background-color: #000;
  color: #fff;
}
