.custom_button {
    border: 1px solid #000;
    padding: 0.5rem 1.25rem; /* Гибкий размер кнопки */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem; /* Гибкий размер шрифта */
  }
  
  /* Стиль для чёрной кнопки */
  .button_black {
    background-color: #000;
    color: #fff;
  }
  
  /* Стиль для белой кнопки */
  .button_white {
    background-color: #fff;
    color: #000;
  }